<div class="container" >
    <div class="form-group">
        <h2>{{categoryTitle}}</h2>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li (click)="onPage(number+1)" *ngFor="let number of pageCount" class="page-item">
                <a class="page-link">{{number+1}}</a>
            </li>
        </ul>
    </nav>

    <div class="row" style="margin-top: 20px;">
        <div *ngFor="let movie of movies" class="card" style="width: 18rem;margin-left: 10px;margin-top: 20px;" (click)="onViewDetail(movie.id)">
            <img src='https://image.tmdb.org/t/p/original{{ movie.poster_path }}' class="card-img-top"
                alt="Movie Poster">
            <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
            </div>            
        </div>
    </div>
</div>